# Learn Basic Statistics
numerical or statistical information mainly for evaluate precisions.

Frequency and Counting for Categorical data
Quartiles and meand for Quantitative data

- summary()
- describe()

## 1. summary() function allows to extract basic statistics from our datasets

<img src="miscellanea/1_boxplot.jpg" width="400">

In [1]:
# SUMMARY() 

summary(iris$Species)       # Categorical variable
summary(iris$Sepal.Length)  # Quantitative variable
summary(iris)               # Entire data frame

    setosa versicolor  virginica
        50         50         50

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.300   5.100   5.800   5.843   6.400   7.900

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

## 2 describe()

Detailed information about our data. Only for quantitative data and it provides:
- n sample size
- mean, std, meadian
- 10% trimmed mean
- Mean absolute deviation
- min/max
- range
- skewness
- kurtosis
- Standard Errors

In [3]:
# Installs pacman ("package manager") if needed
if (!require("pacman")) install.packages("pacman")

# Use pacman to load add-on packages as desired
pacman::p_load(pacman, psych) 

# For quantitative variables only.

describe(iris$Sepal.Length)  # One quantitative variable
describe(iris)               # Entire data frame

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

   vars n   mean     sd        median trimmed  mad     min max range skew
X1 1    150 5.843333 0.8280661 5.8    5.808333 1.03782 4.3 7.9 3.6   0.3086407
   kurtosis   se
X1 -0.6058125 0.06761132

             vars n   mean     sd        median trimmed  mad     min max range
Sepal.Length 1    150 5.843333 0.8280661 5.80   5.808333 1.03782 4.3 7.9 3.6
Sepal.Width  2    150 3.057333 0.4358663 3.00   3.043333 0.44478 2.0 4.4 2.4
Petal.Length 3    150 3.758000 1.7652982 4.35   3.760000 1.85325 1.0 6.9 5.9
Petal.Width  4    150 1.199333 0.7622377 1.30   1.184167 1.03782 0.1 2.5 2.4
Species*     5    150 2.000000 0.8192319 2.00   2.000000 1.48260 1.0 3.0 2.0
             skew       kurtosis   se
Sepal.Length  0.3086407 -0.6058125 0.06761132
Sepal.Width   0.3126147  0.1387047 0.03558833
Petal.Length -0.2694109 -1.4168574 0.14413600
Petal.Width  -0.1009166 -1.3581792 0.06223645
Species*      0.0000000 -1.5199333 0.06689001